// Specific CSS for your home-page
.banner-home {

  filter: grayscale(30%);
  filter: saturate(55%);
  text-align: center;
  height: 400px;
  width: auto;
  font-size: 90px;
  color:#EFD9D1;
  ;
  font-weight: bold;
  text-align: center ;
  background-size: cover;
  font-family: Montserrat;
  opacity: 90px;
  background-size: cover;
  background-position: center;
  box-shadow :inset 0px 0px rgb(13, 100px, 400px);

}
