// Specific CSS for your home-page
.banner-home {
  filter: grayscale(30%);
  filter: saturate(55%);
  height: 400px;
  width: auto;
  font-family: Montserrat;
  background-size: cover;
  background-position: center;
  box-shadow :inset 0px 0px rgb(13, 100px, 400px);

}




.text-center  {
  justify-content:flex-end;
  font-weight: bold;
  font-size: 55px;
  text-align:center;
  color:#dcbdb2;

}
