.btn-green {
  color: $pink;
  padding: 3px 10px;
  border-radius: 40px;
  background: $green;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-green:hover {
  color: $green;
  border: 1px solid $green;
  background: $pink;
}

.btn-dark-green {
  color: white;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  padding: 10px 39px;
  font-weight: bold;
  border-radius: 40px;
  background: $green;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
  color: white;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  padding: 10px 39px;
  font-weight: bold;
  border-radius: 40px;
  background: #c2c4a8;
  transition: background 0.3s ease;
  text-decoration: none;
  }
}

.btn-orange {
  color: white;
  width: 29%;
  font-size: 12px;
  padding: 1px 10px;
  border-radius: 40px;
  border: solid 1px #deb053;
  transition: background 0.3s ease;
  text-decoration: none;
  color: #deb053;

  &:hover {
    color: white;
    width: 29%;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 40px;
    background: #deb053;
    transition: background 0.3s ease;
    text-decoration: none;
  }
}

.btn-green-dashboard {
  color: white;
  width: 29%;
  font-size: 12px;
  padding: 1px 10px;
  border-radius: 40px;
  border: solid 1px $green;
  transition: background 0.3s ease;
  text-decoration: none;
  color: $green;

  &:hover {
    color: white;
    width: 29%;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 40px;
    background: $green;
    transition: background 0.3s ease;
    text-decoration: none;
  }
}

.btn-red {
  color: white;
  width: 29%;
  font-size: 12px;
  padding: 1px 10px;
  border-radius: 40px;
  border: solid 1px #e25b5b;
  transition: background 0.3s ease;
  text-decoration: none;
  color: #e25b5b;

  &:hover {
    color: white;
    width: 29%;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 40px;
    background: #e25b5b;
    transition: background 0.3s ease;
    text-decoration: none;
  }
}

.btn-circle-pink {
  color: #575656;
  margin: auto;
  margin-top: 10px;
  width: 10;
  padding: 10px 17px;
  border-radius: 50%;
  background: $pink;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
    color: #575656;
    margin: auto;
    margin-top: 10px;
    width: 10;
    padding: 10px 17px;
    border-radius: 50%;
    background: $darkpink;;
    transition: background 0.3s ease;
    text-decoration: none;
  }
}

.btn-pink {
  color: #575656;
  padding: 10px 17px;
  border-radius: 40px;
  background: $pink;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 12px;

  &:hover {
    color: #575656;
    margin: auto;
    margin-top: 10px;
    width: 10;
    padding: 10px 17px;
    border-radius: 40px;
    background: $darkpink;;
    transition: background 0.3s ease;
    text-decoration: none;
  }

}

.btn-dark-green-form {
  color: white;
  margin: auto;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 40px;
  background: $green;
  transition: background 0.3s ease;
  text-decoration: none;

  &:hover {
  color: white;
  margin: auto;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 40px;
  background: #c2c4a8;
  transition: background 0.3s ease;
  text-decoration: none;
  }
}

.btn-submit-book {
  border: solid 1px $green;
}

.btn-pink-home {
  color: $green;
  padding: 4px 13px;
  border-radius: 40px;
  background: $pink;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-pink-home:hover {
  color: $pink;
  border: 1px solid $pink;
  background: $green;
}

.btn-green-home {
  color: $pink;
  padding: 4px 13px;
  border-radius: 40px;
  background: $green;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-green-home:hover {
  color: $green;
  border: 1px solid $green;
  background: $pink;
}
