.bonzai-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bonzai-card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.bonzai-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.bonzai-card-image {
  width: 150px;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.home-card {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.home-card-btn {
  font-size: 18px;
  opacity: .7;
  margin: 3;
  justify-self: center;
  position: absolute;
  top: 0;
  margin-top: 30px;
  border-radius: 15px;
}

.home-card-image {
  background-position: center;
  background-size: cover;
}
