.bonzai-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.bonzai-card {
  display: flex;
  overflow: hidden;
  background: $pink;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.bonzai-card-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}

.bonzai-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
  width: 45%;
  h3, h5 {
    color: $green;
  }
 }

.bonzai-card-image {
  width: 55%;
  height: 265px;
  background-position: center;
  background-size: cover;
}

.bonzai-card p {
  opacity: .7;
  margin: 0;
}

.home-card {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.inner-card-dashboard {
  display: flex;
  align-items: center;
  margin: 20px;
}


.card-dashboard {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-top: 17px;
  margin-left: 15px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
  width: 31%;
  flex-direction: column;
}


.card-dashboard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-left: 10px;

}

.card-dashboard h2 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}


.card-dashboard h3 {
  font-size: 22px;
  margin: 0;
}

.card-dashboard p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dashboard .card-dashboard-infos {
  padding: 16px;
}
