.footer {
  background: $pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: $green;
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $darkpink;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $green
}
.footer .fa-heart {
  color: $lightpink;
}
