.navbar-lewagon {
  justify-content: space-between;
  background: $lightpink;
}

.navbar-lewagon h1 {
  justify-content: space-between;
  color: $green;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.link {
  color: $darkpink;
  font-weight: bold;
}

.link:hover {
  color: $pink;
}
